.container{
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-auto-rows: 250px;
  grid-template-areas:". centered-box .";
  border: 1px solid red;
}

.item {
  grid-area: centered-box;
  display: flex;
  flex-direction: column ;
  justify-self: center;
  align-self: center;
  padding: 30px;
  text-align: center;
}

.border {
  border: solid black;
}

.heading {
  font-size: 20px;
}