.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-template-areas:". centered-box .";
  /* border: 1px solid white; */
  background-color: seagreen;
}

.item {
  grid-area: centered-box;
  display: flex;
  flex-direction: column ;
  justify-self: center;
  align-self: center;
  padding: 30px;
  text-align: center;
  background-color: white;
  
}

.border {
  border: solid black;
}

.heading {
  font-size: 20px;
}

button {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: white;
  animation-duration: 3s;
  animation-name: slidein;
   }
   
   @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
   
    to {
      margin-left: 0%;
      width: 100%;
    }
   }




body {
  background-color: seagreen;
}